// SECTION press :: START

.press {
  overflow: hidden;
  position: relative;
  padding-top: 56px;
  padding-bottom: 97px;
  background-color: #ffffff;

  &__bg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      display: block;
      max-width: 100%;
      height: auto;

      &:nth-of-type(1) {
        top: 230px;
        left: 53px;
      }
      &:nth-of-type(2) {
        right: -50px;
        top: calc(20% - 10px);
      }
    }
  }

  &__wrapper {
    z-index: 2;
    position: relative;
  }

  &__title {
    padding-left: 29px;
    padding-bottom: 86px;
    letter-spacing: -0.8px;
    text-shadow: none;

    &:before {
      position: relative;
      top: 3px;
      left: -44px;
    }
  }

  &__box {
    &-wrapper {
      width: 100%;
      max-width: 1023px;

      > div {
        padding-bottom: 80px;

        &:last-of-type {
          padding-bottom: 0;
        }
      }
    }
  }

  &__infinite {
    height: 80px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #202020;

    &:hover,
    &:focus {
      box-shadow: none;
      color: #202020;
    }
  }

  .card {
    border: none;
    border-radius: 0;
    background-color: transparent;

    &--reverse {
      justify-content: flex-end;

      .card {
        &-body {
          padding-left: 0;
          padding-right: 90px;
        }
      }
    }

    &-head {
      overflow: hidden;
      position: relative;
      width: 100%;
      max-width: 453px;
      height: 302px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
        object-fit: cover;
        object-position: center;
      }
    }

    &-body {
      flex: unset;
      //flex: 1;
      //min-width: 1px;
      //max-width: 100%;
      padding: 0;
      padding-left: 67px;
    }

    &-text {
      padding-bottom: 17px;

      p {
        min-width: 58px;
        height: 30px;
        padding: 5px 14px;
        background: linear-gradient(270deg, #4A00A8 0%, #AF0189 100%);
        letter-spacing: 0.5px;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        font-family: 'Aktiv Grotesk Ex', sans-serif;
      }
    }

    &-title {
      width: 100%;
      max-width: 383px;
      padding-bottom: 10px;
      font-family: 'Aktiv Grotesk Ex', sans-serif;
      font-size: 30px;
      line-height: 33px;
      color: #0C0C0C;
    }

    a {
      color: #0c0c0c;
      font-size: 14px;
    }
  }
}

// SECTION press :: END