// COMMON :: START

// stellar parallax obj
[parallax-js] {
  will-change: transform;
  transform-origin: center;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 2s cubic-bezier(0, 0, 0, 1) 0s;
}
// stellar parallax obj :: end

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

// overlay
.overlay {
  z-index: 990;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#050505, 0.8);
  @include transition(opacity, visibility);

  .is-hideScroll & {
    opacity: 1;
    visibility: visible;
    @include transition(opacity, visibility);
  }
}
// overlay :: end

// copyright
.copyright {
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1171px;
  margin-left: auto;
  margin-right: auto;
  padding: 49px 15px 45px 0;
  @include adaptive(767) {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  > div {
    &:nth-of-type(1) {
      @include adaptive(1279) {
        flex: 1;
        min-width: 1px;
        max-width: 100%;
      }
    }
    &:nth-of-type(2) {
      @include adaptive(1279) {
        width: calc(35% + 2px);
      }
      @include adaptive(1023) {
        width: 43%;
      }
      @include adaptive(767) {
        width: 100%;
        padding-top: 20px;
      }
    }
  }

  &__text,
  &__info {
    font-size: 12px;
    line-height: 15px;
  }

  &__text {
    color: #0c0c0c;
    letter-spacing: -0.3px;
    @include adaptive(767) {
      color: #ffffff;
    }
  }

  &__info {
    transform: translateX(-150%);
    color: #ffffff;
    @include adaptive(1279) {
      transform: translate(-50%);
      text-align: right;
    }
    @include adaptive(767) {
      transform: translate(0);
    }

    strong {
      font-weight: 800;
    }
  }
}
// copyright :: end

// COMMON :: END