// COMMON :: START

// overlay
.overlay {
  z-index: 990;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#050505, 0.8);
  @include transition(opacity, visibility);

  .is-hideScroll & {
    opacity: 1;
    visibility: visible;
    @include transition(opacity, visibility);
  }
}
// overlay :: end

// copyright
.copyright {
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1146px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 49px;
  padding-bottom: 45px;

  &__text,
  &__info {
    font-family: 'Aktiv Grotesk Ex', sans-serif;
    font-size: 12px;
    line-height: 15px;
  }

  &__text {
    color: #0c0c0c;
  }

  &__info {
    padding-right: 100px;
    color: #ffffff;
  }
}
// copyright :: end

// COMMON :: END