// SECTION concerts :: START

.concerts {
  position: relative;
  padding: 86px 15px 25px;
  @include adaptive(1023) {
    padding-top: 60px;
  }

  &__bg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      display: block;
      max-width: 100%;
      height: auto;

      &:nth-of-type(1) {
        top: 123px;
        left: 42px;
      }

      &:nth-of-type(2) {
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
  }

  &__wrapper {
    z-index: 2;
    width: 100%;
    max-width: 1180px;
  }

  &__title {
    padding-bottom: 55px;

    &:before {
      display: none;
    }
  }

  &__box {
    &-wrapper {
      position: relative;
      left: -20px;
      width: calc(100% + 20px);

      > div {
        width: 100%;
        max-width: calc(100% / 3);
        padding-left: 20px;
        padding-bottom: 25px;
        @include adaptive(1023) {
          max-width: calc(100% / 2);
          padding-left: 15px;
          padding-bottom: 30px;
        }
      }
    }

    &-head {
      height: 285px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transform-origin: center;
        @include transition(transform 0.5s);
      }
    }
  }

  .card {
    border: none;
    border-radius: 0;
    background-color: transparent;

    &:hover {
      img {
        transform: scale(1.1);
        @include transition(transform 0.45s);
      }

      .icon-font {
        transform: translateX(20px);
        @include transition(transform);
      }
    }

    &-body {
      padding: 18px 20px 15px 0;

      > div {
        &:nth-of-type(2) {
          padding-left: 20px;
        }
      }

      .icon-font {
        color: #ffffff;
        font-size: 14px;
        @include transition(transform);
      }
    }

    &-title {
      margin-bottom: 0;
      font-family: 'Aktiv Grotesk Ex', sans-serif;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
    }

    &-text {
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      color: #FFFFFF;
    }
  }
}

// SECTION concerts :: END