// projects :: START

.projects {
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  &__wrapper {
    &-1 {}
    &-2 {
      .card__line {
        left: auto !important;
        right: 90px;
      }
    }
    &-3 {}
  }

  &__title {
    position: absolute;
    top: 50px;
    left: 0;

    span {
      left: -15px;
      width: 80px;
      height: 2px;
      background-color: #FFFFFF;
    }

    p {
      font-family: 'Aktiv Grotesk Ex', sans-serif;
      font-size: 30px;
      line-height: 40px;
      color: #FFFFFF;
    }
  }

  .card {
    height: 100vh;
    padding: 73px 66px 54px;
    border: none;
    border-radius: 0;
    background-color: transparent;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(36.87deg, rgba(0, 0, 0, 0.8) 16.18%, rgba(0, 0, 0, 0) 32.46%);
    }

    &-body {
      position: relative;
      z-index: 2;
      flex: unset;

      &__bg {
        z-index: -1;
        position: absolute;
        bottom: 44%;
        left: -32px;
        display: block;
        max-width: 100%;
        height: auto;
      }
    }

    &-title {
      padding-left: 4px;
      letter-spacing: 1.5px;
      margin-bottom: 0;
      font-family: 'Aktiv Grotesk Ex', sans-serif;
      font-size: 60px;
      line-height: 77px;
      color: #ffffff;
      text-shadow: 0px 10px 40px rgba(0, 0, 0, 0.7);
    }

    &-text {
      padding-left: 8px;
      padding-bottom: 18px;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
    }

    .icon-font {
      margin-left: 10px;
      color: #ffffff;
      font-size: 14px;
    }

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &__overlay {
      opacity: 0.5;
      position: absolute;
      top: 50%;
      left: -60px;
      width: 210px;
      height: 100%;
      transform: translateY(-50%);
    }

    &__iamge {
      overflow: hidden;
      position: relative;
      width: 110px;
      height: 110px;
      margin-left: 6px;
      margin-bottom: 5px;
      border-radius: 50%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &__line {
      position: absolute;
      top: 0;
      left: 90px;
      width: 2px;
      height: 80px;
      background-color: #FFFFFF;
    }

    .btn {
      width: 120px;
      height: 30px;
      border-radius: 0;
      background-color: #FFFFFF;
      font-family: 'Aktiv Grotesk Ex', sans-serif;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #000000;
      letter-spacing: 0.3px;

      &:hover,
      &:focus {
        box-shadow: none;
      }
    }
  }
}

// projects :: END