// FOOTER :: START

footer#footer.footer

  .footer__bg
    .footer__bg-left
    .footer__bg-right
    img.footer__bg-img(src='img/text-tim-routledge.svg')

  .container-fluid

    .footer__wrapper
      .footer__wrapper-line

      .footer__wrapper-left

        h2.footer__title Awards & Nominations

        ul.footer__awards
          li
            img(src='img/img-awards-1.png')
          li
            img(src='img/img-awards-2.png')
          li
            img(src='img/img-awards-3.png')
          li
            img(src='img/img-awards-4.png')
          li
            img(src='img/img-awards-5.png')

        ul.footer__nav
          li
            a(href='/about.html' title='')
              span(data-hover='About') About
          li
            a(href='#' title='')
              span(data-hover='Portfolio') Portfolio
          li
            a(href='#' title='')
              span(data-hover='News') News
          li
            a(href='/press.html' title='')
              span(data-hover='Press') Press
          li
            a(href='/showreel.html' title='')
              span(data-hover='Showreel') Showreel
          li
            a(href='#' title='')
              span(data-hover='Contact') Contact

        .footer__nav-line

        ul.footer__nav
          li
            a(href='#' title='')
              span(data-hover='Concerts') Concerts
          li
            a(href='#' title='')
              span(data-hover='Television') Television
          li
            a(href='#' title='')
              span(data-hover='Events') Events
          li
            a(href='#' title='')
              span(data-hover='Sports') Sports
          li
            a(href='#' title='')
              span(data-hover='Corporate') Corporate

      .footer__wrapper-right

        .footer__user
          img.footer__user-image(src='img/img-tim.png' srcset='img/img-tim@2x.png 2x')
          p.footer__user-name Tim Routledge
          p.footer__user-desc Showreel

        .footer__video
          video#video(poster='img/img-video-poster.jpg')
            source(src="media/video.mp4" type="video/mp4")

          a.footer__video-btn.position-absolute.align-items-center.justify-content-center(href='#' title='' play-video-js)
            i.icon-font.icon-play

    .copyright
      div
        p.copyright__text 1994-2019 All rights reserved. Tim Routledge - Lighting Designer, Lighting Director, Lighting Programmer.
      div
        p.copyright__info!= "Site by <strong>Pony.</strong>"

// FOOTER :: END