---
title: Tim Routledge | About

pageClassName: p-about
---
extends shared/_layout

block content
  div.body.body--start(class!= pageClassName)

    include components/about/_about
    include components/about/_projects-one
    include components/about/_television