// SECTION main :: START

.main {
  overflow: hidden;
  position: relative;
  background-image: url('../img/img-main-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(36.87deg, rgba(0, 0, 0, 0.8) 20.18%, rgba(0, 0, 0, 0) 45.96%);
    @include adaptive(767) {
      background: linear-gradient(36.87deg, rgba(0, 0, 0, 0.8) 30.18%, rgba(0, 0, 0, 0) 55.96%);
    }
  }

  &__wrapper {
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 120px;
    @include adaptive(767) {
      min-height: calc(100vh - 72px);
      padding-bottom: 115px;
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #0a0a0a;
    }
  }

  &__title {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1100px;

    > div {
      &:nth-of-type(1) {
        width: 114px;
        padding-top: 38px;
        @include adaptive(767) {
          width: 75px;
          padding-top: 23px;
        }
        @include adaptive(767) {
          padding-top: 20px;
        }
      }
      &:nth-of-type(2) {
        flex: 1;
        min-width: 1px;
        max-width: 100%;
      }
    }

    &-line {
      opacity: 0;
      width: 0;
      height: 2px;
      background: #FFFFFF;
    }

    &-text {
      display: flex;
      flex-wrap: wrap;
      font-family: 'Aktiv Grotesk Ex', sans-serif;
      font-size: 60px;
      line-height: 77px;
      color: #FFFFFF;
      @include adaptive(1439) {
        font-size: 50px;
        line-height: 66px;
      }
      @include adaptive(1279) {
        font-size: 45px;
        line-height: 55px;
      }
      @include adaptive(767) {
        font-size: 35px;
        line-height: 45px;
      }
      @include adaptive(575) {
        font-size: 30px;
        line-height: 40px;
      }

      span {
        opacity: 0;
        display: inline-block;
      }
    }
  }

  &__box {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //justify-content: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: translateZ(0);
    @include adaptive(1279) {
      padding: 20px;
    }

    &:after {
      opacity: 0;
      content: '';
      z-index: -1;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
      transform: translateY(100%);
      @include transition(opacity, transform);
      @include adaptive(1279) {
        opacity: 1;
      }
    }

    &:before {
      opacity: 0;
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include transition(opacity);
      @include adaptive(1279) {
        opacity: 1;
      }
    }

    &:hover {
      &:after {
        opacity: 1;
        transform: translateY(0);
        @include transition(opacity, transform);
      }

      &:before {
        opacity: 1;
        @include transition(opacity 0.55s);
      }

      .main__box-photo,
      .icon-font {
        opacity: 1;
        @include transition(opacity);
      }
    }

    &-0 {
      &:before {
        background: linear-gradient(90deg, #DE4DAA 0%, #F6D327 100.07%);
      }
    }
    &-1 {
      &:before {
        background: linear-gradient(270deg, #09C6F9 0%, #045DE9 100%);
      }
    }
    &-2 {
      &:before {
        background: linear-gradient(90deg, #20BF55 0%, #01BAEF 100%);
      }
    }
    &-3 {
      &:before {
        background: linear-gradient(270deg, #647DEE 0%, #7F53AC 100%);
      }
    }
    &-4 {
      &:before {
        background: linear-gradient(270deg, #4A00A8 0%, #AF0189 100%);
      }
    }
    &-5 {
      &:before {
        background: linear-gradient(270deg, #FBD72B 0%, #F9484A 100%);
      }
    }
    &-6 {
      &:before {
        background: linear-gradient(270deg, #647DEE 0%, #7F53AC 100%);
      }
    }
    &-7 {
      &:before {
        background: linear-gradient(90deg, #20BF55 0%, #01BAEF 100%);
      }
    }

    > div {
      &:nth-of-type(2) {
        @include adaptive(1279) {
          padding-left: 10px;
          padding-right: 20px;
        }
      }

      .icon-font {
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        color: #ffffff;
        font-size: 14px;
        @include adaptive(1279) {
          opacity: 1;
          position: static;
          transform: translate(0);
        }
      }
    }

    &-wrapper {
      opacity: 0;
      position: absolute;
      left: 0;
      bottom: 0;
      display: flex;
      width: 100%;
      height: 120px;
      background: rgba(#040404, 0.8);
      @include adaptive(1279) {
        white-space: nowrap;
        overflow-x: auto;
        display: block;
        font-size: 0;
        padding-left: 15px;
        padding-bottom: 15px;
      }
      @include adaptive(767) {
        height: 115px;
      }

      > div {
        flex-grow: 1;
        @include transition(flex-grow);
        @include adaptive(1279) {
          flex-grow: unset;
          display: inline-block;
          vertical-align: top;
          width: 100%;
          max-width: 300px;
          height: 100%;
          margin-right: 15px;
        }
        @include adaptive(575) {
          max-width: 250px;
        }

        &:hover {
          flex-grow: 2;
          @include transition(flex-grow);
          @include adaptive(1919) {
            flex-grow: 4;
          }
          @include adaptive(1439) {
            flex-grow: 5;
          }
          @include adaptive(1335) {
            flex-grow: 7;
          }
          @include adaptive(1279) {
            flex-grow: unset;
          }
        }
      }
    }

    &-photo {
      opacity: 0;
      overflow: hidden;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 72px;
      height: 72px;
      border-radius: 50%;
      @include adaptive(1279) {
        opacity: 1;
        position: relative;
        transform: translate(0);
        left: 0;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &-name {
      white-space: nowrap;
      font-size: 20px;
      line-height: 23px;
      color: #FFFFFF;
      @include adaptive(1279) {
        white-space: normal;
      }
    }
  }
}

// SECTION main :: END