// SECTION press :: START

section#press.press

  .press__bg
    img(src='img/img-grid.svg' parallax-js data-stellar-ratio="1.1")
    img(src='img/img-grid.svg' parallax-js data-stellar-ratio="0.9")

  .container-fluid

    .press__wrapper

      h1.press__title.c-title.c-title--dark.d-flex.align-items-center Press

      .press__box-wrapper.ml-auto.mr-auto#loadContent
        div
          a.card.flex-row(href='https://www.google.com/' title='')
            .card-head
              img.card-img-top(src='img/img-press-1.jpg', alt='')
            .card-body
              .card-text.d-flex
                p.d-flex.align-items-center.justify-content-center CQ
              h5.card-title Meet the man responsible for the flashing Spiceworld globe on stage on the new Spice Girls Tour.
              i.icon-font.icon-arrow
        div
          a.card.card--reverse.flex-row-reverse(href='https://www.google.com/' title='')
            .card-head
              img.card-img-top(src='img/img-press-2.jpg', alt='')
            .card-body
              .card-text.d-flex
                p.d-flex.align-items-center.justify-content-center Evening Standard
              h5.card-title Meet Tim Routledge, the lighting designer behind Stormzy’s incredible Glastonbury set.
              i.icon-font.icon-arrow
        div
          a.card.flex-row(href='https://www.google.com/' title='')
            .card-head
              img.card-img-top(src='img/img-press-3.jpg', alt='')
            .card-body
              .card-text.d-flex
                p.d-flex.align-items-center.justify-content-center CQ
              h5.card-title Meet the man responsible for the flashing Spiceworld globe on stage on the new Spice Girls Tour.
              i.icon-font.icon-arrow
        div
          a.card.card--reverse.flex-row-reverse(href='https://www.google.com/' title='')
            .card-head
              img.card-img-top(src='img/img-press-4.jpg', alt='')
            .card-body
              .card-text.d-flex
                p.d-flex.align-items-center.justify-content-center Evening Standard
              h5.card-title Meet Tim Routledge, the lighting designer behind Stormzy’s incredible Glastonbury set.
              i.icon-font.icon-arrow
        div
          a.card.flex-row(href='https://www.google.com/' title='')
            .card-head
              img.card-img-top(src='img/img-press-5.jpg', alt='')
            .card-body
              .card-text.d-flex
                p.d-flex.align-items-center.justify-content-center CQ
              h5.card-title Meet the man responsible for the flashing Spiceworld globe on stage on the new Spice Girls Tour.
              i.icon-font.icon-arrow
        div
          a.card.card--reverse.flex-row-reverse(href='https://www.google.com/' title='')
            .card-head
              img.card-img-top(src='img/img-press-6.jpg', alt='')
            .card-body
              .card-text.d-flex
                p.d-flex.align-items-center.justify-content-center Evening Standard
              h5.card-title Meet Tim Routledge, the lighting designer behind Stormzy’s incredible Glastonbury set.
              i.icon-font.icon-arrow

      //.press__box-wrapper.ml-auto.mr-auto
      //  div
      //    .press__infinite.d-flex.align-items-center.justify-content-center.w-100
      //      a(href='#' title='') Infinite Scroll

// SECTION press :: END