// TITLE :: START

.c-title {
  position: relative;
  padding-left: 64px;
  text-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  font-family: 'Aktiv Grotesk Ex', sans-serif;
  font-size: 53px;
  font-weight: bold;
  line-height: 59px;
  color: #FFFFFF;
  letter-spacing: -1.2px;
  @include adaptive(1335) {
    font-size: 49px;
  }
  @include adaptive(1023) {
    padding-left: 54px;
    font-size: 40px;
    line-height: 50px;
  }
  @include adaptive(767) {
    padding-left: 44px;
    font-size: 35px;
  }
  @include adaptive(575) {
    padding-left: 34px;
    font-size: 29px;
    line-height: 40px;
  }
  @include adaptive(424) {
    font-size: 24px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 32px;
    left: -91px;
    width: 80px;
    height: 2px;
    background-color: #FFFFFF;
    @include adaptive(1365) {
      left: -51px;
    }
    @include adaptive(767) {
      width: 60px;
    }
  }

  &--dark {
    color: #202020;

    &:before {
      background-color: #202020;
    }
  }
}

// TITLE :: END