// SECTION portfolio :: START

section#portfolio.portfolio

  .container-fluid

    .portfolio__wrapper.mr-auto.ml-auto

      .portfolio__box-wrapper
        div
          .portfolio__box
            img(src='img/img-portfolio-box-1.jpg')
        .portfolio__box-line.portfolio__box-line-1
        div
          .portfolio__box
            img(src='img/img-portfolio-box-2.jpg')
        .portfolio__box-line.portfolio__box-line-2
        div
          .portfolio__box
            img(src='img/img-portfolio-box-3.jpg')

      .portfolio__list-wrapper
        div
          .portfolio__list
            img(src='img/img-portfolio-list-1.jpg')
        div
          .portfolio__list
            img(src='img/img-portfolio-list-2.jpg')
        div
          .portfolio__list
            img(src='img/img-portfolio-list-3.jpg')
        div
          .portfolio__list
            img(src='img/img-portfolio-list-4.jpg')
        div
          .portfolio__list
            img(src='img/img-portfolio-list-5.jpg')

// SECTION portfolio :: END