// SECTION projects :: START

section#projects.projects

  .container-fluid

    .projects__wrapper.projects__wrapper-1
      .card.justify-content-end.w-100.position-relative.overflow-hidden
        img.card__bg(src='img/img-projects-1.jpg')
        img.card__overlay(src='img/text-stormzy.svg')

        .card-body.position-relative.d-flex.justify-content-between.align-items-end.w-100
          img.card-body__bg(src='img/img-grid.svg')
          div
            .card__iamge
              img(src='img/ava-stormzy.png')
            h5.card-title Stormzy
            p.card-text!= "Headline Production Show <br>Glastonbury Festival"
            i.icon-font.icon-arrow
          div
            a.btn.d-flex.align-items-center.justify-content-center(href='#' title='') Featured

// SECTION projects :: END