// SECTION projects :: START

section#projects.projects

  .container-fluid

    .projects__wrapper.projects__wrapper-1
      .card.justify-content-end.w-100.position-relative.overflow-hidden
        .card__bg(style='background-image:url("../img/img-projects-1.jpg");' parallax-js data-stellar-background-ratio="0.95")
        img.card__overlay(src='img/text-stormzy.svg' parallax-js data-stellar-ratio="1.025")

        .card-body.position-relative.d-flex.justify-content-between.align-items-end.w-100
          img.card-body__bg(src='img/img-grid.svg' parallax-js data-stellar-ratio="1.1")
          div
            .card__iamge
              img(src='img/ava-stormzy.png')
            h5.card-title Stormzy
            p.card-text!= "Headline Production Show <br>Glastonbury Festival"
            i.icon-font.icon-arrow
          div

// SECTION projects :: END