// SECTION single :: START

section#single.single(style='background-image:url("img/img-single-bg.png");')

  .single__bg
    img(src='img/img-grid.svg')

  .container-fluid

    .single__wrapper.position-relative.ml-auto.mr-auto.d-flex.w-100
      .single__wrapper-left.d-flex.flex-column.justify-content-between
        div
          h1.single__title.c-title!= "Beyonce <br>Formation <br>World Tour <br>2016"

          ul.single__list.single__list--hor.flex-row.d-flex
            li
              p Venue
              span World Tour
            li
              p Client
              span Parkwood Entertainment

        div
          i.icon-font.icon-line-arrow

      .single__wrapper-right

        ul.single__list.d-flex.flex-column
          li
            p Set Designer
            span Es Devlin
          li
            p Lighting Designer
            span Tim Routledge
          li
            p Lighting Programmer/Director
            span Jonathan Rouse

        p.single__desc A major world tour production with the most complex of sets has wowed fans across America and Europe since April 2016. A stadium tour with a challenging schedule moving cities every 36 hours and without the traditional roof a stadium show stage - this was a complex but stunning project to have designen.
        p.single__desc Based around Es Devlin’s video monolith, a singular modern shape that is 20m tall, 20m wide and 10m deep that can not only open up to reveal its inner workings but also revolves in no mean feat in engineering terms. Tim placed 600 waterproof LED strobes in a horizon that wraps around the rear of the stage to give a backdrop and scale to this epic structure. The show also features a conveyor belt catwalk leading to a modest B stage that fills with water for the shows final sequence.
        p.single__desc All equipment supplied and crewed by Neg Earth led by Nick Barton on the road. For a full acricle on Tim’s design here:

        ul.single__list.single__list--hor.flex-row.d-flex
          li
            p Part One
          li
            p Part Two
          li
            p Tim’s Plots and design

// SECTION single :: END