// SECTION about :: START

section#about.about

  .about__bg
    img(src='img/img-grid.svg')
    img(src='img/img-grid.svg')

  .container-fluid

    .about__wrapper.ml-auto.mr-auto.d-flex.align-items-end.w-100
      div
        img(src='img/img-about.png' srcset='img/img-about@2x.png 2x')

      div

        p.about__desc.w-100 Tim is a highly experienced lighting designer & creative working across the broadcast, concert/touring and event genres. In 2019 & 2015 he was awarded Lighting Designer of the Year at the industries production awards to add to growing string of awards for his work in lighting design.
        i.icon-font.icon-line-arrow

// SECTION about :: END