// SECTION description :: START

section#description.description

  .description__bg
    div
    div
    img(src='img/img-grid.svg')

  .container-fluid

    .description__row.position-relative.ml-auto.mr-auto.w-100

      .description__wrapper.description__wrapper-1.d-flex
        .description__wrapper-left
          .description__line.description__line--dark

          p.description__text Tim trained at the Royal Welsh College Of Music & Drama and sisnce graduating in 1996 has gone on to work on projects all over the globe and in 2013 was invited back to become a honorary fellow of the college to inspire current and future students.
          p.description__text He specialises in music as LD for tours and shows for The Spice Girls, Stormzy, Beyonce, Sam Smith, Florence & The Machine, Take That, Royal Blood, Rita Ora, Dave, Gary Barlow, Jeff Lynne’s ELO, Steps, Busted, The War of the Worlds Live, McFly, A R Rahman, Katherine Jenkins. On off shows for the Stereophonics, McFly and a huge one off show at Horseguards Parade for MUSE.
          p.description__text In 2019 Tim designed Stormzy’s now iconinc headline show at Glastonbury which has been hailed as a watershed moment culturally for the urban music scene.
        .description__wrapper-right
          img(src='img/img-description.jpg' srcset='img/img-description@2x.jpg 2x')

      .description__wrapper.description__wrapper-2.d-flex
        .description__wrapper-left
          .description__line
          p.description__text In 2008 Tim was lighting programmer for the London 2012 Handover Ceremony at the Beijing Olympics being hidden inside a red London bus with David Beckham, Leona Lewis and Jimmy Paige and 2 years later went on to Lead Lighting Programmer for the Opening & Closing Ceremonies of the London 2012 Olympics and Paralympics alongside PAtrick Woodroffe.
          p.description__text As a designer, he has created the last 2 Ryder Cup Opening Concerts in Europe and the 2014 Commonwealth Games. He was also Associate Lighting DEsigner for the Queens Diamond Jubilee Concert at Buchingham Palace.
        .description__wrapper-right
          p.description__text As TV lighting director Tim recently designed the The Greatest DAncer (BBC1), X Factor 2016, 2017 & 2018 Live Studio Shows and Wembley Arena Finals, EPIC Gameshow (ITV1), The Brits Launch 2018 (ITV), Take Thats Wonderland (ITV), Gospe; Christmas (BBC2), Gary Barlow’s Big Ben Bash (BBC1), BBC6 Music Festival, Gary Barlow & Friends (ITV1), Stereophonics Live From BBC Radio Theatre, Don Black BBC4 Special, Radio 1 Big Weekend 2013 (BBC3, Red Button, Online) Radio 1 Teen Awards 2012 & 13 (BBC3), BBC Proms in the Park, Concert for Heroes from Twickenham Stadium live on BBC1. in 2010 he also designed set and lighting for television for the Hope for Haiti Now telethon offering from London Shown live on every major US network & looked after U2, Beyonce, Coldplay, Jay-Z and Rhianna.

// SECTION description :: END