// SECTION showreel :: START

section#showreel.showreel

  .showreel__bg
    img(src='img/img-grid.svg')

  .container-fluid

    .showreel__wrapper.ml-auto.mr-auto

      .showreel__content.d-flex
        div
          h1.showreel__title.c-title!= "Tim <br>Routledge <br>Showreel <br>2019"
        div
          p.showreel__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna lectus ut ipsum amet. Massa facilisis tempus, mauris bibendum lorem erat. Convallis non fermentum dictum dolor elementum integer etiam blandit iaculis. Egestas scelerisque nec ipsum in velit a volutpat ac enim. Amet ut fames et morbi varius aliquam aenean nulla accumsan. Et massa vestibulum massa pulvinar urna enim sapien. Vitae sit massa vel tortor.
          p.showreel__desc Pharetra rhoncus faucibus consectetur donec imperdiet quisque mauris. Aliquam elit mollis ullamcorper ac viverra. Ut netus tortor, lacinia blandit nunc nec, nulla.

      .showreel__video.position-relative
        .showreel__video-line.position-absolute
        video#video(poster='img/img-video-poster.jpg')
          source(src="media/video.mp4" type="video/mp4")

        a.showreel__video-btn.position-absolute.align-items-center.justify-content-center(href='#' title='' play-video-js)
          i.icon-font.icon-play

// SECTION showreel :: END