// SECTION main :: START

section#main.main(parallax-js data-stellar-background-ratio="1.1")

  .container-fluid

    .main__wrapper

      .main__wrapper-overlay(main-overlay-js)

      .main__subtitle(main-subtitle-js)
        div
          .main__subtitle-line
        div
          p Exceptional lighting experiences for some of the biggest events in the world.

      .main__title(main-title-js)
        div
          .main__title-line(main-title-line-js)
        div
          .main__title-text
            p(main-title-text-1-js)
              span E
              span x
              span c
              span e
              span p
              span t
              span i
              span o
              span n
              span a
              span l
              | &nbsp;
            p(main-title-text-1-js)
              span l
              span i
              span g
              span h
              span t
              span i
              span n
              span g
              | &nbsp;
            p(main-title-text-1-js)
              span e
              span x
              span p
              span e
              span r
              span i
              span e
              span n
              span c
              span e
              span s
              | &nbsp;
            p(main-title-text-2-js)
              span f
              span o
              span r
              | &nbsp;
            p(main-title-text-2-js)
              span s
              span o
              span m
              span e
              | &nbsp;
            p(main-title-text-2-js)
              span o
              span f
              | &nbsp;
            p(main-title-text-2-js)
              span t
              span h
              span e
              | &nbsp;
            p(main-title-text-2-js)
              span b
              span i
              span g
              span g
              span e
              span s
              span t
              | &nbsp;
            p(main-title-text-2-js)
              span e
              span v
              span e
              span n
              span t
              span s
              | &nbsp;
            p(main-title-text-2-js)
              span i
              span n
              | &nbsp;
            p(main-title-text-2-js)
              span t
              span h
              span e
              | &nbsp;
            p(main-title-text-2-js)
              span w
              span o
              span r
              span l
              span d
              span .

      .main__box-wrapper(main-boxWrapper-js)
        -
          const artistName = [
            'Beyonce',
            'Stormzy',
            'Spice Girls',
            'Rita Ora',
            'Sam Smith',
            'Take That',
            'Katherine Jenkins',
            'Gary Barlow'
          ];
          const artistNamePhoto = [
            'img-beyonce.jpg',
            'ava-stormzy.png',
            'ava-spice-girls.png',
            'ava-rita-ora.png',
            'img-sam-smith.jpg',
            'img-take-that.jpg',
            'img-katherine-jenkins.jpg',
            'img-gary-barlow.jpg'
          ];
        each val, idx in artistName
          div
            a.main__box(href='https://www.google.com/' title='' class!='main__box-' + idx)
              div
                .main__box-photo
                  img(src='img/' + artistNamePhoto[idx])
              div
                p.main__box-name!= artistName[idx]
              div
                i.icon-font.icon-arrow


// SECTION main :: END